body {
  /* background-color: #fff; */
  color: #333;
}
main {
  min-height: 80vh;
}
.ml-auto {
  margin-left: auto;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.rating span {
  margin: 0.1rem;
}

/* @bootstrap class override */
.card-title {
  min-height: 48px;
}
